body {
  background: rgba(250, 249, 222, 0.5);
  line-height: 2;
  margin: 0;
  padding: 0;
}

img {
  max-width: 99%;
  max-height: 99vh;
  border-radius: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

div,
h1 {
  text-align: center;
  border: 1px #eee dashed;
  padding: 1px;
  margin: 1px;
  color: #666;
}

h3 {
  max-width: 1000px;
  text-align: left;
  text-indent: 2em;
  margin: 1vw auto 1px;
  color: #999;
  padding: 1px;
}

h5 {
  max-width: 1000px;
  text-align: left;
  text-indent: 2em;
  margin: 1px auto 1vw;
  color: #999;
  padding: 1px;
  border-bottom: 1px rgba(255, 0, 0, 0.1) dashed;
}

.toggleShow {
  color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 1px;
  right: 1px;
  line-height: 2vw;
  padding: 1vw;
  font-size: 1vw;
  background: rgba(255, 255, 255, 0.5);
}
.pointer {
  cursor: pointer;
}
.titleIndex {
  font-size: 1px;
  color: #eee;
}

a {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.5);
  margin: 0 1vw;
  font-size: 12px;
  border: 1px dashed #eee;
  padding: 1px;
}
