<!--
 * @Description: 
 * @Author: jinxiaojian
 * @Email: jinxiaojian@youxin.com
 * @Date: 2019-07-02 15:53:19
 * @LastEditTime: 2019-07-04 13:20:29
 * @LastEditors: 靳肖健
 -->
<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./01.css">
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <title>思维导图</title>
</head>


<body>
  <div class="content" id="app">
    <h1>前端思维导图</h1>
    <template>
      <div @click='toggleShow' class="toggleShow">
        <h6 v-if='show==1'>隐藏全部图片</h6>
        <h6 v-else>显示全部图片</h6>
      </div>
    </template>
    <div v-for='(x,index) in arr' @click='x.show==1?x.show=0:x.show=1'>
      <h3>
        {{x.title}}
      </h3>
      <h5>
        {{x.text}}
      </h5>
      <template v-if='show!=0 || x.show!=0'>
        <img :src="x.img" :alt="x.img" data-author='靳肖健'>
      </template>
    </div>
</body>
<script>
  var arr = [
    // { show:0,title: ``,text:``, img: `` },
    { show: 0, title: `JWT`, text: `JSON Web Token（JWT）是目前最流行的跨域认证解决方案`, img: `JWT.png` },
    { show: 0, title: `RESTful API`, text: `RESTful 是目前最流行的 API 设计规范,用于 Web 数据接口的设计`, img: `RESTful+API.png` },
    { show: 0, title: `proxy`, text: `Proxy 对象用于定义基本操作的自定义行为（如属性查找,赋值,枚举,函数调用等）`, img: `proxy.png` },
    { show: 0, title: `常见网络攻击`, text: `常见网络攻击:XSS攻击全称跨站脚本攻击是一种在web应用中的计算机安全漏洞,它允许恶意web用户将代码植入到提供给其它用户使用的页面中.CSRF站请求伪造是一种对网站的恶意利用.CSRF通过伪装成受信任用户的请求来利用受信任的网站.CSRF攻击往往不大流行（因此对其进行防范的资源也相当稀少）和难以防范,所以被认为比XSS更具危险性`, img: `常见网络攻击.png` },
    { show: 0, title: `deno`, text: `Node 之父 Ryan Dahl 发布新的开源项目 deno,从官方介绍来看,可以认为它是下一代 Node,使用 Go 语言代替 C++ 重新编写跨平台底层内核驱动,上层仍然使用 V8 引擎,最终提供一个安全的 TypeScript 运行时`, img: `deno.png` },
    { show: 0, title: `PWA`, text: `PWA（Progressive web apps）运用现代的 Web API 以及传统的渐进式增强策略来创建跨平台 Web 应用程序`, img: `PWA.png` },
  ]
</script>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      show: 0,
      message: 'Hello Vue!',
      arr: arr
    },
    methods: {
      toggleShow() {
        console.log(1)
        if (this.show == 1) {
          this.show = 0
        } else {
          this.show = 1
        }
        localStorage.show = this.show
      }
    },
    created() {
      var show = localStorage.show;
      if (show == undefined) {
        this.show = 0
        localStorage.show = 0
      } else {
        this.show = Number(show)
      }
    }
  })
</script>

</html>