<!--
 * @Description: 
 * @Author: jinxiaojian
 * @Email: jinxiaojian@youxin.com
 * @Date: 2019-07-02 15:53:19
 * @LastEditTime: 2019-07-09 11:27:42
 * @LastEditors: 靳肖健
 -->
<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./01.css">
  <script src="./01.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
  <title>思维导图</title>
</head>


<body>
  <div class="content" id="app">
    <h1>前端思维导图</h1>
    <template>
      <div @click='toggleShow' class="toggleShow pointer">
        <h6 v-if='show==1'>隐藏全部图片</h6>
        <h6 v-else>显示全部图片</h6>
      </div>
    </template>
    <div v-for='(x,index) in arr' @click='x.show==1?x.show=0:x.show=1' class="pointer">
      <h3>
        <span class="titleIndex"> {{arr.length-index}} </span> {{x.title}}
      </h3>
      <h5>
        {{x.text}}
      </h5>
      <template v-if='show!=0 || x.show!=0'>
        <img :src="x.img" :alt="x.img" data-author='靳肖健'>
      </template>
    </div>
</body>

<script>
  var app = new Vue({
    el: '#app',
    data: {
      show: 0,
      message: 'Hello Vue!',
      arr: dataArr
    },
    methods: {
      toggleShow() {
        console.log(1)
        if (this.show == 1) {
          this.show = 0
        } else {
          this.show = 1
        }
        localStorage.show = this.show
      }
    },
    created() {
      var show = localStorage.show;
      if (show == undefined) {
        this.show = 0
        localStorage.show = 0
      } else {
        this.show = Number(show)
      }
    }
  })
</script>

</html>