@charset "utf-8";
li,
ol,
ul {
    list-style: none
}

a,
a:hover {
    text-decoration: none
}

a,
body {
    color: #666;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

.KZ_elli,
.ellipsis,
.experience .exp_info h3 .companyname,
.layer_box .con .item h3 a {
    white-space: nowrap;
    text-overflow: ellipsis
}

abbr,
article,
aside,
blockquote,
body,
dd,
div,
dl,
dt,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
header,
html,
input,
li,
mark,
menu,
meter,
nav,
ol,
output,
p,
pre,
progress,
section,
summary,
textarea,
time,
ul {
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

.jobs ul,
.mbox {
    margin-top: 8px
}

a,
button,
iframe,
img {
    border: 0
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
    display: block
}

a {
    -moz-tap-highlight-color: rgba(0, 0, 0, 0);
    -ms-tap-highlight-color: rgba(0, 0, 0, 0);
    -o-tap-highlight-color: rgba(0, 0, 0, 0)
}

.fleft {
    float: left
}

.fright {
    float: right
}

.clearfix:after,
.clearfix:before {
    content: "";
    display: table
}

.hidden {
    display: none
}

.t-left {
    text-align: left
}

.t-center {
    text-align: center
}

.t-right {
    text-align: right
}

em,
i,
s {
    font-style: normal
}

.KZ_elli {
    overflow: hidden
}

.KZ_center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center
}

.KZ_fixed {
    position: fixed;
    top: 0
}

html {
    height: 100%;
    color: #666;
    overflow-x: hidden
}

body {
    font: 400 12px/1.5 Arial, Helvetica, "Microsoft YaHei", STHeiti, "Droid Sans Fallback", sans-serif;
    word-wrap: break-word;
    -webkit-text-size-adjust: none
}

button,
input[type=button],
input[type=submit],
input[type=text],
select,
textarea {
    font-size: 1em;
    -webkit-appearance: none;
    outline: 0;
    -o-appearance: none;
    -ms-appearance: none
}

.clearfix:after,
div:after,
h3:after,
ul:after {
    content: ".";
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
    display: block;
    overflow: hidden
}

::-webkit-input-placeholder {
    color: #999
}

:-moz-placeholder {
    color: #999
}

::-moz-placeholder {
    color: #999
}

:-ms-input-placeholder {
    color: #999
}

::selection {
    background: #FFF;
    color: #333
}

::-moz-selection {
    background: #FFF;
    color: #333
}

::-webkit-selection {
    background: #FFF;
    color: #333
}

a:hover {
    cursor: pointer
}

.clearfix {
    *zoom: 1;
    display: block;
    +zoom: 1
}

* html .clearfix {
    height: 1%
}

.clear {
    clear: both;
    height: 0;
    font: 0/0 Arial;
    visibility: hidden;
    overflow: hidden;
    display: block
}

.home_header h1,
.mbox h2,
.search_item .jobs h2,
h2,
h3 {
    font-weight: 400
}

.ellipsis {
    overflow: hidden
}

.left {
    float: left
}

.right {
    float: right
}

.YH {
    font-family: "Microsoft YaHei"
}

.ST {
    font-family: SimSun
}

.YW {
    font-family: Arial
}

.KZ_rel {
    position: relative
}

.KZ_abs {
    position: absolute
}

.KZ_dflex {
    display: -webkit-box!important;
    display: -moz-box!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important
}

.KZ__dflex_column {
    display: -webkit-box!important;
    display: -moz-box!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important;
    flex-flow: column
}

.KZ_flex {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.KZ_center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    vertical-align: middle
}

.i_add,
.i_city,
.i_education,
.i_flag,
.i_info,
.i_jobs,
.i_monthly,
.i_post,
.i_url,
.i_xiu,
.i_xun,
.i_year,
.verified {
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px
}

.i_jobs {
    width: 28px;
    height: 22px;
    /*background: url(../../images/boss_share/i_pin.png) no-repeat;*/
    background-size: cover
}

.i_monthly,
.i_post {
    width: 12px;
    height: 12px
}

.i_monthly {
    /*background: url(../../images/boss_share/i_money.png) no-repeat;*/
    background-size: 12px 12px
}

.i_post {
    /*background: url(../../images/boss_share/i_post.png) no-repeat;*/
    background-size: 12px 12px
}

.i_city {
    /*background: url(../../images/boss_share/i_city.png) no-repeat;*/
    background-size: 14px 14px;
    width: 14px;
    height: 14px
}

.i_year {
    /*background: url(../../images/boss_share/i_year.png) no-repeat;*/
    background-size: 12px 12px;
    width: 12px;
    height: 12px
}

.i_education {
    /*background: url(../../images/boss_share/i_education.png) no-repeat;*/
    background-size: 16px 16px;
    width: 16px;
    height: 16px
}

.verified {
    /*background: url(../../images/boss_share/i_verified.png) no-repeat;*/
    background-size: 48px 14px;
    display: inline-block
}

.i_xiu {
    /*background: url(../../images/boss_share/i_xiu.png) no-repeat;*/
    background-size: 26px 26px;
    width: 26px;
    height: 26px
}

.i_boy,
.i_girl {
    width: 12px;
    height: 12px
}

.i_info {
    /*background: url(../../images/boss_share/i_info.png) no-repeat*/
}

.i_url {
    /*background: url(../../images/boss_share/i_url.png) no-repeat*/
}

.i_flag {
    /*background: url(../../images/boss_share/i_flag.png) no-repeat*/
}

.i_add {
    /*background: url(../../images/boss_share/i_city.png) no-repeat*/
}

.i_girl {
    /*background: url(../../images/boss_share/i_girl.png) no-repeat;*/
    background-size: 12px 12px
}

.i_boy {
    /*background: url(../../images/boss_share/i_boy.png) no-repeat;*/
    background-size: 12px 12px
}

.i_xun {
    width: 28px;
    height: 22px;
    /*background: url(../../images/boss_share/i_xun.png) no-repeat;*/
    background-size: cover
}

.i_eduexp,
.i_tico1,
.i_workexp {
    width: 24px;
    height: 24px
}

.i_workexp {
    /*background: url(../../images/boss_share/i_workexp.png) no-repeat;*/
    background-size: cover
}

.i_eduexp {
    /*background: url(../../images/boss_share/i_eduexp.png) no-repeat;*/
    background-size: cover
}

.i_tico1 {
    /*background: url(../../images/boss_share/i_tico1.png) no-repeat;*/
    background-size: 24px
}

.i_jinfo {
    width: 12px;
    height: 13px;
    /*background: url(../../images/boss_share/i_jinfo.png) no-repeat;*/
    background-size: contain;
    display: inline-block
}

.i_man,
.i_women {
    width: 14px;
    height: 14px;
    display: inline-block
}

.i_women {
    /*background: url(../../images/boss_share/i_women.png) no-repeat;*/
    background-size: contain
}

.i_man {
    /*background: url(../../images/boss_share/i_man.png) no-repeat;*/
    background-size: contain
}

.i_editjl {
    width: 20px;
    height: 22px;
    /*background: url(../../images/boss_share/i_editjl.png) 0 center no-repeat;*/
    background-size: contain;
    display: inline-block
}

.i_secrecy {
    width: 14px;
    height: 14px;
    /*background: url(../../images/boss_share/i_secrecy2.png) no-repeat;*/
    background-size: contain;
    display: inline-block
}

body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.home_header {
    position: relative;
    height: 30px;
    background: #53cac3;
    padding: 8px 0
}

.home_header h1 {
    position: absolute;
    width: 100%;
    line-height: 30px;
    color: #fff;
    font-size: 18px;
    text-align: center
}

.home_header .home_ico {
    position: absolute;
    top: 8px;
    width: 30px;
    height: 30px;
    /*background: url(../../images/boss_share/header_icon.png) no-repeat;*/
    background-size: 30px 64px
}

.home_header .h_back {
    left: 20px;
    background-position: 0 0
}

.home_header .h_mail {
    right: 20px;
    background-position: 0 -34px
}

.main {
    padding: 0 12px;
    overflow: hidden
}

.mbox {
    position: relative;
    background: #fff;
    border: 1px solid #d7d7d7;
    border-radius: 6px;
    display: block
}

.mbox h2 {
    line-height: 20px;
    color: #53cac3;
    font-size: 16px
}

.jobs {
    padding: 12px 0
}

.jobs .i_jobs {
    position: absolute;
    left: -2px;
    top: 12px
}

.jobs ul li {
    height: 20px;
    line-height: 20px;
    margin-top: 2px
}

.jobs ul li span {
    float: left;
    color: #797979;
    font-size: 14px;
    margin-right: 12px
}

.jobs ul li span i {
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px
}

.jobs ul li .monthly {
    color: #ff3200
}

.member {
    padding: 12px;
    overflow: hidden
}

.member .member_pic {
    float: left;
    position: relative
}

.member .member_pic .avatar {
    width: 66px;
    height: 66px;
    border-radius: 50px;
    overflow: hidden;
    display: block
}

.member .member_pic .avatar img {
    width: 66px;
    height: 66px
}

.member .member_pic .verified {
    position: absolute;
    left: 10px;
    bottom: 0;
    z-index: 10;
    width: 48px;
    height: 14px
}

.member .member_info {
    float: left;
    color: #797979;
    margin: 6px 0 0 8px
}

.member .member_info .name {
    font-size: 28px;
    font-weight: 400
}

.member .member_info .title {
    font-size: 14px
}

.member .postnum {
    position: absolute;
    right: 14px;
    top: 22px;
    z-index: 10;
    height: 18px;
    line-height: 18px;
    background: #fff;
    border: 1px solid #ffa222;
    border-radius: 18px;
    color: #ffa222;
    font-size: 12px;
    padding: 0 8px;
    overflow: hidden
}

.company_intr h2 {
    padding: 12px 0 0 12px
}

.company_intr .txt {
    line-height: 20px;
    color: #797979;
    font-size: 14px;
    padding: 10px 0;
    overflow: hidden
}

.company_intr .company_tag {
    padding: 0 0 2px 10px;
    overflow: hidden
}

.company_intr .company_tag span {
    float: left;
    height: 20px;
    line-height: 20px;
    background: #53cac3;
    border-radius: 2px;
    color: #fff;
    font-size: 14px;
    padding: 0 6px;
    margin: 0 10px 10px 0
}

.company_intr .company_tag .bg_yellow {
    background: #ffa830
}

.company_intr .items .item {
    position: relative;
    height: 54px;
    line-height: 54px;
    border-top: 1px dashed #d7d7d7;
    color: #797979;
    font-size: 16px;
    padding: 0 48px;
    display: block
}

.company_intr .items .item i {
    position: absolute;
    left: 10px;
    top: 12px;
    z-index: 10
}

.company_intr .items .item i.i_arrow {
    position: absolute;
    left: auto;
    right: 10px;
    top: 50%;
    z-index: 10;
    width: 9px;
    height: 12px;
    /*background: url(../../images/boss_share/i_arrow.png) no-repeat;*/
    background-size: 9px 12px;
    display: inline-block;
    margin-top: -6px
}

.company_intr .more,
.footer,
.searchtop {
    text-align: center;
    display: block
}

.company_intr .more {
    height: 40px;
    line-height: 40px;
    border-top: 1px dashed #d7d7d7;
    color: #53cac3;
    font-size: 14px
}

.infos .items .item {
    height: auto;
    line-height: 34px;
    border-bottom: 1px dashed #d7d7d7;
    border-top: none;
    font-size: 16px;
    padding: 5px 12px 5px 40px;
    overflow: hidden
}

.infos .items .item:last-child {
    border: none
}

.search_item .company_intr,
.search_item .jobs {
    border-bottom: 1px dashed #d7d7d7
}

.infos .items .item i {
    background-size: 20px 20px;
    width: 20px;
    height: 20px
}

.footer {
    height: 54px;
    line-height: 54px;
    background: #53cac3;
    color: #fff;
    font-size: 16px;
    margin-top: 24px
}

.searchtop {
    background: #62cec7;
    padding: 30px 0
}

.playing {
    height: 18px;
    line-height: 18px;
    color: #919191;
    font-size: 14px;
    padding-top: 12px
}

.playing span {
    color: #53cac3
}

.playing b {
    margin: 0 5px
}

.search_item .jobs {
    position: relative;
    padding: 20px 10px 10px
}

.search_item .jobs .i_jobs {
    top: 20px
}

.search_item .jobs .txt {
    line-height: 20px;
    color: #797979;
    font-size: 12px;
    margin-top: 3px
}

.geek_item .cont,
.geek_item .geek_info .info {
    margin-top: 8px
}

.search_item .member {
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 20px;
    padding: 0
}

.search_item .company_intr .company_tag {
    border: 0;
    padding-bottom: 13px
}

.search_item .company_intr .txt {
    padding: 12px 0 10px 10px
}

.search_item .company_intr i.win {
    width: 20px;
    height: 16px;
    /*background: url(../../images/boss_share/i_win.png) no-repeat;*/
    background-size: contain;
    display: inline-block;
    vertical-align: middle
}

.search_item .company_intr .txt span {
    vertical-align: middle;
    display: inline-block
}

.search_item .newreply {
    height: 34px;
    line-height: 34px;
    text-align: right;
    color: #797979;
    font-size: 14px;
    padding: 0 12px
}

.footerbar {
    position: fixed;
    z-index: 999;
    left: 0;
    bottom: 0;
    width: 100%
}

.pb_footbar {
    padding: 25px 0 25px;
}

.geek_item .geek_info {
    border-bottom: 1px dashed #d7d7d7;
    padding: 12px 0
}

.geek_item .i_xun {
    position: absolute;
    left: -2px;
    top: 12px
}

.geek_item .geek_info h2 {
    color: #53cac3;
    font-size: 16px
}

.geek_item .cont li {
    height: 20px;
    line-height: 20px;
    margin-top: 2px
}

.geek_item .cont li span {
    float: left;
    color: #797979;
    font-size: 14px;
    margin-right: 12px
}

.geek_item .cont li span i {
    position: relative;
    top: -1px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 4px
}

.geek_item .geek_info .geek_pic {
    position: relative;
    width: 60px;
    height: 60px
}

.geek_item .geek_info .geek_pic img {
    width: 60px;
    height: 60px;
    border-radius: 50%
}

.geek_item .jobs {
    position: relative
}

.geek_item .jobs .status {
    float: right;
    font-size: 12px;
    margin: 0
}

.mbox .hd {
    position: relative;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #d7d7d7;
    padding: 0 10px
}

.mbox .hd i {
    position: absolute;
    right: 10px;
    top: 6px;
    display: inline-block
}

.experience .exp_info {
    border-bottom: 1px dashed #d7d7d7;
    padding: 12px 0
}

.experience .exp_info:last-child {
    border: none
}

.experience .exp_info h3 {
    line-height: 18px;
    margin-bottom: 5px
}

.experience .exp_info h3 .companyname {
    color: #53cac3;
    font-size: 14px;
    overflow: hidden;
    display: block;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.experience .exp_info h3 .companyname em {
    color: #dadada;
    margin: 0 6px
}

.experience .exp_info h3 .date {
    width: 110px;
    color: #797979;
    font-size: 12px;
    text-align: right;
    display: block
}

.experience .exp_info .jobcont,
.experience .exp_info .tit {
    color: #797979;
    font-size: 14px
}

.experience .exp_info .jobcont {
    line-height: 20px;
    margin-top: 5px
}

.tags_box {
    padding: 0 0 2px;
    overflow: hidden
}

.tags_box span {
    float: left;
    height: 20px;
    line-height: 20px;
    background: #fff;
    border: 1px solid #53cac3;
    border-radius: 2px;
    color: #53cac3;
    font-size: 14px;
    padding: 0 6px;
    margin: 10px 10px 0 0
}

.geek_item .geek_info h2 span {
    color: #c3c3c3;
    font-size: 14px;
    margin-left: 8px
}

.jobs .info h2 .more {
    height: 14px;
    line-height: 14px;
    color: #53cac3;
    font-size: 12px;
    background: #fff;
    border: 1px solid #98dfdb;
    border-radius: 4px;
    vertical-align: middle;
    padding: 0 4px;
    margin-left: 6px
}

.jobs .info .monthly {
    width: 80px;
    color: #797979;
    font-size: 14px;
    text-align: right;
    display: block
}

.jobs .jlist .intr {
    margin: 0
}

.jobs .jlist .intr li {
    float: left;
    height: 14px;
    line-height: 14px;
    color: #797979;
    font-size: 14px;
    border-right: 1px solid #d7d7d7;
    margin: 0 0 2px;
    padding: 0 6px
}

.jobs .jlist .intr li:last-child {
    border: none
}

.jobs .jlist .intr em {
    color: #d7d7d7;
    display: inline-block
}

.mbox h2.hd {
    height: 36px;
    line-height: 36px;
    border-bottom: 1px dashed #d7d7d7
}

.mbox .cont {
    padding: 0 10px
}

.mbox .conts {
    margin-top: 10px
}

.geek_item {
    padding: 0 12px
}

.geek_item .geek_info .info .conts span {
    color: #797979;
    font-size: 14px;
    margin-right: 15px;
    display: inline-block
}

.geek_item .geek_info .info .conts span i {
    margin-top: -2px
}

.company_intr h2.homeitem {
    border-top: 1px dashed #d7d7d7;
    border-bottom: none;
    padding: 5px 0
}

.company_intr h2.homeitem .homeico {
    position: absolute;
    right: 0;
    top: 11px;
    width: 200px;
    height: 24px;
    overflow: hidden
}

.company_intr h2.homeitem .homeico i {
    position: static;
    right: inherit;
    top: inherit;
    margin-left: 10px
}

.geek_item .geek_info .geek_pic i,
.geek_item .geek_info .geek_pic i_girl {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10
}

.experience .exp_info .jobcont {
    padding-left: 18px
}

.project .exp_info h3 .view {
    width: 80px;
    color: #53cac3;
    font-size: 14px;
    text-align: right;
    display: block
}

.nav .box .t,
.nav .box .t span {
    font-size: 32px;
    text-align: right;
    color: #797979
}

.nav {
    background: #fff;
    border-bottom: 1px solid #d7d7d7;
    padding: 14px 0
}

.nav .box {
    border-right: 1px dashed #e3e3e3;
    padding: 0 10px
}

.nav .box .t {
    line-height: 32px
}

.nav .box .text {
    color: #797979;
    font-size: 14px;
    text-align: center;
    argin-top: 5px
}

.nav .box .i_view {
    /*background: url(../../images/boss_share/i_see.png) 0 4px no-repeat;*/
    background-size: 23px
}

.nav .box .i_like {
    /*background: url(../../images/boss_share/i_like.png) 0 4px no-repeat;*/
    background-size: 19px
}

.nav .box .i_share {
    /*background: url(../../images/boss_share/i_share.png) 0 4px no-repeat;*/
    background-size: 16px
}

.experience .exp_info .jobcont i {
    position: relative;
    top: 4px
}

.experience .exp_info .i_results {
    /*background: url(../../images/boss_share/i_results.png) 0 4px no-repeat;*/
    background-size: 12px;
    margin-top: 8px
}

.experience .exp_info .i_intr {
    /*background: url(../../images/boss_share/i_intr.png) 0 4px no-repeat;*/
    background-size: 12px
}

.experience .exp_info .tit em {
    color: #dadada;
    margin: 0 6px
}

.company_intr h2.homeitem .homeico a {
    float: right;
    position: static;
    right: inherit;
    top: inherit;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    margin-left: 10px
}

.layer_box,
.mark {
    position: fixed;
    display: none
}

.i_home1 {
    /*background-image: url(../../images/boss_share/i_home1.png)*/
}

.i_home2 {
    /*background-image: url(../../images/boss_share/i_home2.png)*/
}

.i_home3 {
    /*background-image: url(../../images/boss_share/i_home3.png)*/
}

.i_home4 {
    /*background-image: url(../../images/boss_share/i_home4.png)*/
}

.i_home5 {
    /*background-image: url(../../images/boss_share/i_home5.png)*/
}

.i_home6 {
    /*background-image: url(../../images/boss_share/i_home6.png)*/
}

.i_home7 {
    /*background-image: url(../../images/boss_share/i_home7.png)*/
}

.i_home8 {
    /*background-image: url(../../images/boss_share/i_home8.png)*/
}

.i_home9 {
    /*background-image: url(../../images/boss_share/i_home5.png)*/
}

.i_home10 {
    /*background-image: url(../../images/boss_share/i_home6.png)*/
}

.i_home11 {
    /*background-image: url(../../images/boss_share/i_home7.png)*/
}

.i_home12 {
    /*background-image: url(../../images/boss_share/i_home8.png)*/
}

.i_home_behance {
    /*background-image: url(../../images/boss_share/i_home_behance.png)*/
}

.i_home_csdn {
    /*background-image: url(../../images/boss_share/i_home_csdn.png)*/
}

.i_home_default {
    /*background-image: url(../../images/boss_share/i_home_default.png)*/
}

.i_home_douban {
    /*background-image: url(../../images/boss_share/i_home_douban.png)*/
}

.i_home_dribbble {
    /*background-image: url(../../images/boss_share/i_home_dribbble.png)*/
}

.i_home_github {
    /*background-image: url(../../images/boss_share/i_home_github.png)*/
}

.i_home_linkedin {
    /*background-image: url(../../images/boss_share/i_home_linkedin.png)*/
}

.i_home_lofter {
    /*background-image: url(../../images/boss_share/i_home_lofter.png)*/
}

.i_home_sina {
    /*background-image: url(../../images/boss_share/i_home_sina.png)*/
}

.i_home_ui {
    /*background-image: url(../../images/boss_share/i_home_ui.png)*/
}

.i_home_zcool {
    /*background-image: url(../../images/boss_share/i_home_zcool.png)*/
}

.i_home_zhihu {
    /*background-image: url(../../images/boss_share/i_home_zhihu.png)*/
}

.mark {
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .3)
}

.layer_box {
    left: 50%;
    z-index: 1200;
    width: 87%;
    background: #fff;
    border-radius: 10px;
    margin-left: -43%;
    overflow: hidden
}

.layer_box .hd {
    height: 50px;
    line-height: 50px;
    background: #53cac3;
    color: #fff;
    font-size: 18px;
    text-align: center
}

.jobs .info h2,
.layer_box .con .item h3 a {
    height: 20px;
    overflow: hidden
}

.layer_box .con .item {
    border-bottom: 1px dashed #d7d7d7;
    padding: 12px 10px
}

.layer_box .con .item:last-child {
    border: none
}

.layer_box .con .item h3 {
    margin-top: 2px
}

.layer_box .con .item h3 a {
    line-height: 20px;
    color: #5e5e5e;
    font-size: 16px;
    display: block
}

.layer_box .con .item .info {
    line-height: 20px;
    color: #a8a8a8;
    font-size: 14px;
    margin-top: 5px
}

.layer_box .con .item .info em {
    color: #d7d7d7;
    margin: 0 10px
}

.experience .exp_info h3 {
    display: -webkit-box!important;
    display: -moz-box!important;
    display: -ms-flexbox!important;
    display: -webkit-flex!important;
    display: flex!important
}

.experience .exp_info h3 .companyname a {
    color: #53cac3
}

@media screen and (max-width:320px) and (max-height:490px) {
    .nav .box .text {
        font-size: 12px
    }
}

@media screen and (min-width:350px) {
    .nav .box .text {
        font-size: 14px
    }
}

@media screen and (max-width:321px) and (max-width:375px) {
    .nav .box .text {
        font-size: 12px
    }
}

.pop-layer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 10000;
    display: none
}

.pop-layer img {
    width: 100%
}